create-jdbc-connection-pool --datasourceclassname org.postgresql.ds.PGSimpleDataSource --restype javax.sql.ConnectionPoolDataSource mp-pg-rvr1960-pool

set resources.jdbc-connection-pool.mp-pg-rvr1960-pool.property.password=rv1960 resources.jdbc-connection-pool.mp-pg-rvr1960-pool.property.databaseName=dbrv1960 resources.jdbc-connection-pool.mp-pg-rvr1960-pool.property.serverName=localhost resources.jdbc-connection-pool.mp-pg-epmrpsd-pool.property.user=rv1960 resources.jdbc-connection-pool.mp-pg-epmrpsd-pool.property.portNumber=5432

create-jdbc-resource --enabled=true --poolName=mp-pg-rvr1960-pool --target=domain jdbc/pg-db-rv1960
create-resource-ref --enabled=true --target=server jdbc/pg-db-rv1960